* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.hedar {
    height: 90px;
    /* width: 100vw; */
    /* background-color:red; */
    display: flex;
    align-items: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo-container>p {
    display: none;

}

.logo-container>i {
    display: none;
}

.logo-container {
    margin-left: 4%;
}

.logo-container>a>img {
    height: 45px;
}

.navbar {
    width: 600px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 2%; */
}

.navbar>a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 4px solid white;
    padding: 20px;
}

.navbar>a:hover {
    border-bottom: 4px solid #f54677;
}

.navbar>a>sub {
    color: red;
    font-size: 10px;
}

.search-bar {
    height: 40px;
    min-width: 500px;
    display: flex;
    align-items: center;
    margin-left: 4%;
    justify-content: center;
}

.sarch-icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 700;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 19px;
    /* padding: 10px; */


}



.search-input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.action-bar {
    display: flex;
    min-width: 210px;
    justify-content: space-evenly;

}

.action-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.action-container>span {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;



}

/* main section  */

.main {}

.baaner {
    margin: 40px 0;
}

.baaner>img {
    width: 100%;
}

.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-section>a>img {
    width: 250px;
}

/* main-section-second */

.box1 {
    display: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 5px;



}

.box2 {

    display: inline-block;
    overflow: hidden;
    /* border-radius: 50%; */
    /* cursor: pointer; */



}

.box1::-webkit-scrollbar {
    display: none;
}

.box2>a>img {
    height: 160px;
}

.im2 {
    height: 260px;
    object-fit: cover;
}

.categry {
    text-transform: uppercase;
    position: relative;
    bottom: 20px;

    margin-left: 4px;
    font-weight: 700;
    /* padding: 10px; */
}

#categry2 {

    text-transform: uppercase;
    position: relative;
    bottom: 20px;
    margin-top: 30px;
    margin-left: 4px;
    font-weight: 700;

}


#im3 {
    position: relative;
    top: 25px;
    height: 300px;
}

.footer {
    height: 300px;
    width: 100%;
    background-color: #FAFBFC;
}

.foot-child{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box4-child {

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* top: 40px; */
}



.foot-child>ul>li {
    list-style-type: none;
    text-transform: uppercase;
}



.box4 {

    display: flex;
    gap: 10px;

}

/* flex-wrap: wrap; */



.box4-child {
    height: 45px;
    width: 170px;
    /* border: 2px solid black; */
    position: relative;
    bottom: 25px;
    border-radius: 13px;
    overflow: hidden;
}

.box4-child>img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    /* border-radius: 20px; */

    /* border: 10px; */
}

.h5 {
    position: relative;
    bottom: 35px;
}

.banner-2{
    height: 200px;
    width: 100%;
    /* border: 2px solid black; */
    /* background-color: #1f1f97; */
    padding: 20px;
}

.banner-2>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media (min-width:320px) and (max-width:900px) {

    .box4 {
       

      

    }

    .box4-child {
     position: relative;
     top: 70px;
        
       
       
       
      
    }

    .foot-child>ul>li {

        text-align: center;
        margin-top: 20px;


    }

    .foot-child>ul>h4{
        text-align: center;
        margin-top: 15px;
    }

    .footer{
        position: relative;
        top: 50px;
    }

    .h5 {
       position: relative;
       top: 50px;
       text-align: center;
    }
   
    .foot-child{
        flex-direction: column;
    }

}

@media (min-width:320px) and (max-width:900px) {

    .hedar {
        width: 100%;
        /* position: relative; */
    }

    .navbar {
        width: 100%;
        position: absolute;
        flex-direction: column;

        left: -100%;
        background-color: white;
        top: 90px;
        padding-block: 20px;
        transition: 0.2s ease-in-out;


    }

    .navbar.active {
        left: 0;
    }

    .navbar>a {}



    .search-bar {
        display: none;
    }

    .action-bar {
        position: absolute;
        right: 0;



    }

    .action-container {}

    .logo-container {
        margin-left: 4%;
        /* font-size: 10px; */
    }

    .logo-container>a>img {
        display: none;
    }

    .logo-container>p {
        display: block;
        margin-left: 40%;
        font-size: 22px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 500;
        text-transform: lowercase;

    }

    .logo-container>i {
        display: block;
        position: absolute;
        left: 2%;
        top: 37px;
        font-size: 20px;


    }

    /* main section  */

    .baaner>img {

        /* height: 210px; */
        width: 100%;
    }

    .baaner {
        display: none;
    }

    .box1 {
        display: block;
        /* background-color: #b0b4bb; */


    }

    .box2 {
        height: 150px;
        /* margin-left: 0px; */
    }

    .box2>img {
        height: 100%;
        object-fit: cover;
    }


    .main-section>a>img {
        width: 160px;
    }

    .im2 {
        height: 170px;
    }

    .categry {

        text-align: center;
        position: relative;
        margin-top: 35px;

        font-size: 1rem;
        z-index: -19999999;
        /* padding: 20px; */
    }


}